.blogs {
    .boy-img {
        position: absolute;
        right: 20px;
        bottom: 0;
        height: calc(100vh - 250px);
    }

    .img-container {
        .moon-img {
            position: absolute;
            right: 47px;
            top: 40px;
        }
    }


}

.header-section .header-section_container .text-container h1 {
    font-family: 'Poppins';
    font-style: normal;
    @include text-style(5.2rem, $dark, 7.8rem, 400);
    max-width: 700px;
}

.header-section .header-section_container .img-container .ellipse {
    height: calc(100vh - 100px);
}

.icon-moon {
    position: absolute;
    background-color: aqua;
}
